{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="text-center mb-5">
        <h2 class="fw-bold">Our Products</h2>
        <p class="text-muted">Explore our premium and modern minimalist furniture collection</p>
    </div>

    <div class="row justify-content-center mb-4">

        <div class="col-md-6">

            <form method="GET">
                {% if request.GET.status %}
                <input type="hidden" name="status" value="{{ request.GET.status }}">
                {% endif %}
                <input
                    type="text"
                    name="search"
                    class="form-control search-input"
                    placeholder="Search furniture..."
                    value="{{ request.GET.search|default:'' }}"
                >

            </form>

        </div>

    </div>

    <div class="d-flex justify-content-center gap-3 flex-wrap mb-2">
        
        <a href="{% url 'products' %}{% if request.GET.search %}?search={{ request.GET.search }}{% endif %}"
        class="filter-btn {% if not request.GET.status %}active-filter{% endif %}">
            All
        </a>

        <a href="?status=ready{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
        class="filter-btn {% if request.GET.status == 'ready' %}active-filter{% endif %}">
            Ready
        </a>

        <a href="?status=sold{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
        class="filter-btn {% if request.GET.status == 'sold' %}active-filter{% endif %}">
            Sold
        </a>

        <a href="?status=custom{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
        class="filter-btn {% if request.GET.status == 'custom' %}active-filter{% endif %}">
            Custom
        </a>

    </div>

</div>

<section class="container py-5">

    <div class="row g-4">

        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-6">

            <div class="product-card">

                <div class="product-image-container">
                    <img src="{{ product.image.url }}" class="img-fluid product-image" alt="{{ product.name }}">

                    <div class="product-status-badge">
                        {% if product.status == 'ready' %}
                            <span class="status-ready">ready</span>
                        {% elif product.status == 'sold' %}
                            <span class="status-sold">sold</span>
                        {% elif product.status == 'custom' %}
                            <span class="status-custom">custom</span>
                        {% endif %}
                    </div>
                </div>

                <div class="product-card-body">

                    <h5 class="product-title">
                        {{ product.name }}
                    </h5>

                    <p class="text-muted">
                        Rp {{ product.price }}
                    </p>
                    
                    <div class="product-button">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-dark w-100">
                            Details
                        </a>
                    </div>
                    
                </div>

            </div>

        </div>
        {% endfor %}

    </div>

</section>

{% endblock %}