{% extends 'base.html' %}

{% block content %}

<div class="text-center mb-5">

    <p class="text-muted">

        OUR PROJECTS

    </p>

    <h1 class="fw-bold">

        Interior Inspiration Gallery

    </h1>

    <p class="text-muted">

        Explore our custom furniture and interior projects.

    </p>

</div>
<div class="gallery-wrapper">
    <div class="gallery-filters">

        <a href="{% url 'gallery' %}" class="gallery-filter {% if not request.GET.category %}active-filter{% endif %}">
            All
        </a>

        <a href="?category=home" class="gallery-filter {% if request.GET.category == 'home' %}active-filter{% endif %}">
            Home
        </a>

        <a href="?category=livingroom" class="gallery-filter {% if request.GET.category == 'livingroom' %}active-filter{% endif %}">
            Living Room
        </a>

        <a href="?category=bedroom" class="gallery-filter {% if request.GET.category == 'bedroom' %}active-filter{% endif %}">
            Bedroom
        </a>

        <a href="?category=office" class="gallery-filter {% if request.GET.category == 'office' %}active-filter{% endif %}">
            Office
        </a>

        <a href="?category=cafe" class="gallery-filter {% if request.GET.category == 'cafe' %}active-filter{% endif %}">
            Cafe
        </a>

    </div>

    <div class="gallery-masonry">

        {% for item in galleries %}

            <div class="gallery-item">

                <img
                    src="{{ item.image.url }}"
                    alt="{{ item.title }}"
                >

                <div class="gallery-overlay">

                    <h5>

                        {{ item.title }}

                    </h5>

                </div>

            </div>

        {% endfor %}

    </div>
</div>

{% endblock %}