{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- HERO BANNER -->
<section class="hero-section">

    <img src="{% static 'images/banner2.jpg' %}"
    class="hero-image"
    alt="Banner">

    <div class="hero-overlay">

        <h1>
            Make Your Interior More
            <br>
            Minimalistic & Modern
        </h1>

        <p>
            Turn your room into a modern and elegant space
            with premium furniture.
        </p>

        <a href="{% url 'products' %}"
        class="btn btn-light px-4 py-2">

            Explore Collection

        </a>

    </div>

</section>


<!-- POPULAR PRODUCT -->
<section class="container py-5">

    <div class="text-center mb-5">
        <h2 class="fw-bold">
            Most Popular Items
        </h2>
        <p class="text-muted">
            Premium furniture with modern minimalist design
        </p>
    </div>

    <!-- Cukup SATU Tag Row g-4 di Sini -->
    <div class="row g-4">

        {% for product in products %}
        <div class="col-lg-3 col-md-4 col-6">

            <div class="product-card">

                <!-- Pembungkus Gambar dan Badge agar bisa mengambang -->
                <div class="product-image-container">
                    <img src="{{ product.image.url }}" class="img-fluid product-image" alt="{{ product.name }}">

                    <!-- Badge Status dipindah ke dalam wadah gambar -->
                    <div class="product-status-badge">
                        {% if product.status == 'ready' %}
                            <span class="status-ready">ready</span>
                        {% elif product.status == 'sold' %}
                            <span class="status-sold">sold</span>
                        {% elif product.status == 'custom' %}
                            <span class="status-custom">custom</span>
                        {% endif %}
                    </div>
                </div>

                <div class="product-card-body">

                    <h5 class="product-title">
                        {{ product.name }}
                    </h5>

                    <p class="text-muted">
                        Rp {{ product.price }}
                    </p>
                    
                    <div class="product-button">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-dark w-100">
                            Details
                        </a>
                    </div>
                    
                </div>

            </div>

        </div>
        {% endfor %}

    </div>

</section>



<!-- CUSTOM INTERIOR SECTION -->
<section class="container-fluid custom-section py-2 mt-1">

    <div class="row align-items-center">

        <!-- IMAGE -->
        <div class="col-md-6 p-0">

            <img src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=1200"
            class="img-fluid custom-section-image">

        </div>

        <!-- TEXT -->
        <div class="col-md-6 p-5">

            <p class="text-uppercase text-muted">
                Custom Furniture
            </p>

            <h1 class="fw-bold mb-4">

                We Create Modern &
                Minimalist Interior Design

            </h1>

            <p class="text-muted mb-4">

                We provide premium quality furniture
                and custom interior design for homes,
                offices, cafes, and modern spaces.

            </p>

            <a href="{% url 'order_create' %}" 
            class="btn-showcase btn-dark px-4 py-2">

                Start Your Project

            </a>

        </div>

    </div>

</section>

<!-- GALLERY SECTION -->
<section class="container py-5">

    <div class="text-center mb-5">

        <p class="text-uppercase text-muted">
            Our Projects
        </p>

        <h2 class="fw-bold">
            Interior & Furniture Gallery
        </h2>

    </div>

    <div class="row g-4">

        <!-- Gallery 1 -->
        <div class="col-md-4 col-6">

            <div class="gallery-card">

                <img src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?q=80&w=1200"
                class="img-fluid">

                <div class="gallery-content">
                    <h6 class="fw-semibold mt-3">
                        Minimalist Bedroom
                    </h6>

                    <p class="text-muted small">
                        Elegant bedroom interior with modern furniture.
                    </p>
                </div>

            </div>

        </div>

        
        <!-- Gallery 2 -->
        <div class="col-md-4 col-6">

            <div class="gallery-card">

                <img src="https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?q=80&w=1200"
                class="img-fluid">

                <div class="gallery-content">

                    <h6 class="fw-semibold mt-3">
                        Modern Living Room
                    </h6>

                    <p class="text-muted small">
                        Comfortable sofa with clean minimalist design.
                    </p>

                </div>

            </div>

        </div>

        <!-- Gallery 3 -->
        <div class="col-md-4 col-6">

            <div class="gallery-card">

                <img src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?q=80&w=1200"
                class="img-fluid">

                <div class="gallery-content">

                    <h6 class="fw-semibold mt-3">
                        Luxury Sofa Interior
                    </h6>

                    <p class="text-muted small">
                        Premium furniture for modern living spaces.
                    </p>

                </div>

            </div>

        </div>

    </div>

    <div class="text-center mt-4">
        <a href="{% url 'gallery' %}"
        class="gallery-link">
    
            See Full Gallery →

        </a>
    </div>
</section>


<!-- WHY CHOOSE US -->
<section class="container py-5">

    <div class="text-center mb-5">

        <p class="text-uppercase text-muted">
            Why Choose Us
        </p>

        <h2 class="fw-bold">
            We Provide The Best
            Interior Experience
        </h2>

    </div>

    <div class="row g-4">

        <!-- ITEM 1 -->
        <div class="col-md-3 col-6">

            <div class="why-card text-center">

                <div class="why-icon">
                    🪵
                </div>

                <h5 class="fw-semibold mt-3">
                    Premium Material
                </h5>

                <p class="text-muted small">
                    High quality wood and durable materials.
                </p>

            </div>

        </div>

        <!-- ITEM 2 -->
        <div class="col-md-3 col-6">

            <div class="why-card text-center">

                <div class="why-icon">
                    🎨
                </div>

                <h5 class="fw-semibold mt-3">
                    Custom Design
                </h5>

                <p class="text-muted small">
                    Furniture tailored to your needs.
                </p>

            </div>

        </div>

        <!-- ITEM 3 -->
        <div class="col-md-3 col-6">

            <div class="why-card text-center">

                <div class="why-icon">
                    👷
                </div>

                <h5 class="fw-semibold mt-3">
                    Professional Team
                </h5>

                <p class="text-muted small">
                    Experienced craftsmen and designers.
                </p>

            </div>

        </div>

        <!-- ITEM 4 -->
        <div class="col-md-3 col-6">

            <div class="why-card text-center">

                <div class="why-icon">
                    ⚡
                </div>

                <h5 class="fw-semibold mt-3">
                    Fast Process
                </h5>

                <p class="text-muted small">
                    Efficient work with quality results.
                </p>

            </div>

        </div>

    </div>

</section>

{% endblock %}